<div class="landing-page">
  <h1 class="title">DevOps Exam</h1>

  <div class="animated-bg"></div>
  <div class="animated-bg animated-bg-secondary"></div>

  <div class="content">
    <div class="card" routerLink="/foyer" >
      <div class="card-content">
        <h2>Foyer</h2>
        <p>Ben Ali Hamza</p>
      </div>
    </div>
    <div class="card" routerLink="/etudiant">
      <div class="card-content">
        <h2>Etudiant</h2>
        <p>A Elgharbi</p>
      </div>
    </div>
    <div class="card" routerLink="/chambre">
      <div class="card-content">
        <h2>Chambres</h2>
        <p>Oussema</p>
      </div>
    </div>
  </div>
</div>
